.tag-container {
  display: flex;
  position: relative;
  padding-right: var(--dl-space-space-halfunit);
}
.tag-text {
  padding: 4px;
  box-shadow: 2px 2px 3px 0px rgba(16, 16, 16, 0.35);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}

.offre-stage-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 0px 0px 20px 0px rgba(21, 21, 21, 0.56);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
}
.offre-stage-blog-post-card:hover {
  transform: scale(1.02);
}
.offre-stage-container {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.offre-stage-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.offre-stage-text {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.offre-stage-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.offre-stage-text2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.offre-stage-text3 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-unit);
}
.offre-stage-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.offre-stage-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.offre-stage-text4 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}
.offre-stage-button {
  display: flex;
  padding: 0px;
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
}
.offre-stage-image {
  width: 32px;
  object-fit: cover;
}









.offre-stage-root-class-name9 {
  margin-bottom: var(--dl-space-space-unit);
}





@media(max-width: 991px) {
  .offre-stage-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .offre-stage-blog-post-card {

    flex-direction: column;
  }
}
@media(max-width: 412px) {
  .offre-stage-container {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .offre-stage-text2 {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
  }
  .offre-stage-container3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .offre-stage-text4 {
    width: auto;
  }
}

.logged-in-landing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}
.logged-in-landing-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
}
.logged-in-landing-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.logged-in-landing-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.logged-in-landing-debug {
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.logged-in-landing-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.logged-in-landing-button {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button01 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button02 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button03 {
  text-decoration: none;
}
.logged-in-landing-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
.logged-in-landing-button04 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button05 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button06 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button07 {
  text-decoration: none;
}
.logged-in-landing-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.logged-in-landing-button08 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button09 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-button10 {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.logged-in-landing-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-height: auto;
  align-items: flex-start;
  flex-direction: column;
}
.logged-in-landing-text35 {
  align-self: stretch;
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.logged-in-landing-container7 {
  width: 70vw;
  height: 100%;
  margin: 0px;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 767px) {
  .logged-in-landing-container1 {
    width: auto;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
  }
  .logged-in-landing-container6 {
    width: 100%;
  }
  .logged-in-landing-container7 {
    width: 100%;
  }
}
@media(max-width: 412px) {
  .logged-in-landing-container1 {
    flex-direction: column;
  }
  .logged-in-landing-container2 {
    padding-left: var(--dl-space-space-unit);
  }
  .logged-in-landing-text {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
  }
  .logged-in-landing-container3 {
    flex-wrap: wrap;
  }
  .logged-in-landing-button {
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button01 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button02 {
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button03 {
    margin-top: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-container4 {
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button04 {
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button05 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button06 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button07 {
    margin-top: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-container5 {
    flex-wrap: wrap;
    padding-top: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button08 {
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button09 {
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-button10 {
    margin-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .logged-in-landing-container6 {
    width: 100%;
    flex-direction: column;
  }
  .logged-in-landing-text35 {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    margin-left: var(--dl-space-space-unit);
  }
}
