.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}

.header-logo-name {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.header-image {
  height: var(--dl-size-size-small);
}

.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header-auth {
  display: flex;
  text-decoration: none;
}
.login-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.login-page-login-page {
  flex: 1;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: stretch;
  min-height: 60vh;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: #003eb3;
}
.login-page-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.login-page-form {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.login-page-username {
  width: 40vw;
  height: var(--dl-size-size-small);
  margin: var(--dl-space-space-halfunit);
  min-width: var(--dl-size-size-xxlarge);
}
.login-page-password {
  width: 40vw;
  height: var(--dl-size-size-small);
  margin: var(--dl-space-space-halfunit);
  min-width: var(--dl-size-size-xxlarge);
  padding-top: 0.5rem;
}
.login-page-navlink {
  color: var(--dl-color-gray-white);
  align-self: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.login-page-navlink:hover {
  transform: scale(1.02);
}
@media(max-width: 767px) {
  .login-page-login-page {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 412px) {
  .login-page-login-page {
    min-height: 60%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}

.footer-tdr {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-left: 0px;
  padding-bottom: var(--dl-space-space-unit);
}

.footer-mentions-lgales {
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-bottom: var(--dl-space-space-unit);
}

.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.footer-auth {
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}