.modif-offre-stage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.modif-offre-stage-main {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.modif-offre-stage-container1 {
  flex: 0 0 auto;
  width: 30vw;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.49);
  min-height: auto;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  border-top-left-radius: 0;
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.modif-offre-stage-form {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  min-width: 80%;
  margin-top: var(--dl-space-space-unit);
  min-height: 60%;
  flex-direction: column;
}
.modif-offre-stage-date {
  flex: 1;
}
.modif-offre-stage-dure {
  flex: 1;
}
.modif-offre-stage-annes-concernes {
  flex: 1;
}
.modif-offre-stage-comptences {
  flex: 1;
}
.modif-offre-stage-remun {
  flex: 1;
}
.modif-offre-stage-adresse {
  flex: 1;
}
.modif-offre-stage-nb-place {
  flex: 1;
}
.modif-offre-stage-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  min-width: 80%;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.modif-offre-stage-button {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
}
.modif-offre-stage-main-text-content {
  flex: 1;
  width: 60vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  min-width: 60vw;
  align-self: flex-start;
  min-height: 100vh;
  align-items: stretch;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.modif-offre-stage-container3 {
  height: auto;
  display: flex;
  align-self: stretch;
  min-height: 5vh;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: flex-start;
}
.modif-offre-stage-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-self: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius2);
}
.modif-offre-stage-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.modif-offre-stage-text {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.modif-offre-stage-dropdown-arrow {
  transition: 0.3s;
}
.modif-offre-stage-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.modif-offre-stage-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.modif-offre-stage-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.modif-offre-stage-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.modif-offre-stage-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.modif-offre-stage-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.modif-offre-stage-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.modif-offre-stage-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.modif-offre-stage-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.modif-offre-stage-text6 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.modif-offre-stage-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.modif-offre-stage-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.modif-offre-stage-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.modif-offre-stage-text7 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.modif-offre-stage-nom-entreprise {
  height: 100%;
  align-self: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: 0px;
  width: 100%;
}
.modif-offre-stage-intitul-stage {
  padding: var(--dl-space-space-halfunit);
  font-size: 2em;
  margin-bottom: var(--dl-space-space-twounits);
}
.modif-offre-stage-textarea {
  color: var(--dl-color-gray-black);
  font-size: 1.25em;
  min-height: 80vh;
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 767px) {
  .modif-offre-stage-main {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .modif-offre-stage-container1 {
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .modif-offre-stage-form {
    align-self: center;
  }
  .modif-offre-stage-main-text-content {
    flex: 0 0 auto;
    width: 100%;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
  .modif-offre-stage-container3 {
    align-self: flex-start;
    align-items: stretch;
    justify-content: center;
  }
}
@media(max-width: 412px) {
  .modif-offre-stage-main {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .modif-offre-stage-container1 {
    width: 100%;
    position: relative;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .modif-offre-stage-form {
    align-self: center;
  }
  .modif-offre-stage-main-text-content {
    width: auto;
    max-width: auto;
    min-width: auto;
    align-items: stretch;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .modif-offre-stage-container3 {
    justify-content: space-between;
  }
}


.modif-etudiant-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.modif-etudiant-main {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-black);
  border-style: ridge;
  border-width: 1px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-bottom: var(--dl-space-space-unit);
  border-left-width: 0px;
  border-right-width: 0px;
}
.modif-etudiant-container1 {
  flex: 0 0 auto;
  width: 10rem;
  display: flex;
  align-items: stretch;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.modif-etudiant-image {
  width: inherit;
  align-self: center;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
}
.modif-etudiant-button {
  align-self: center;
  margin-top: var(--dl-space-space-unit);
}
.modif-etudiant-button1 {
  font-size: 1.25em;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 900;
}
.modif-etudiant-main-text-content {
  flex: 1;
  width: 60vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  min-width: 60vw;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: stretch;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.modif-etudiant-container2 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.modif-etudiant-nom-etudiant {
  width: 45%;
  padding: var(--dl-space-space-halfunit);
  font-size: 2em;
  margin-bottom: var(--dl-space-space-twounits);
}
.modif-etudiant-prenom-etudiant {
  width: 45%;
  padding: var(--dl-space-space-halfunit);
  font-size: 2em;
  margin-bottom: var(--dl-space-space-twounits);
}
.modif-etudiant-form {
  gap: 1rem;
  width: auto;
  height: auto;
  display: flex;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.modif-etudiant-promo {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-centre {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.modif-etudiant-container3 {
  gap: var(--dl-space-space-unit);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.modif-etudiant-text1 {
  width: auto;
}
.modif-etudiant-text2 {
  width: auto;
}
.modif-etudiant-container4 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
}
.modif-etudiant-form1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.modif-etudiant-date-dbut-a2 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-date-dbut-a3 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-date-dbut-a4 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-date-dbut-a5 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-form2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.modif-etudiant-date-fin-a2 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-date-fin-a3 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-date-fin-a4 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-date-fin-a5 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-form3 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.modif-etudiant-stage-a2 {
  flex: 1;
  align-self: stretch;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-stage-a3 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-stage-a4 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-etudiant-stage-a5 {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
@media(max-width: 767px) {
  .modif-etudiant-main {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .modif-etudiant-image {
    align-self: center;
  }
  .modif-etudiant-main-text-content {
    flex: 0 0 auto;
    width: auto;
    flex-wrap: wrap;
    align-self: flex-start;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 412px) {
  .modif-etudiant-main {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .modif-etudiant-nom-etudiant {
    align-self: stretch;
  }
  .modif-etudiant-prenom-etudiant {
    align-self: stretch;
  }
  .modif-etudiant-text {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
  }
}


.modif-tuteur-promo {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}
.modif-tuteur-centre {
  flex: 1;
  border-radius: var(--dl-radius-radius-radius4);
}