.etudiant-card-blog-post-card {
  width: 100%;
  cursor: pointer;
  display: flex;
  box-shadow: 0px 0px 20px 0px rgba(21, 21, 21, 0.56);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.etudiant-card-blog-post-card:hover {
  transform: scale(1.02);
}
.etudiant-card-container {
  height: auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.etudiant-card-image {
  width: auto;
  max-width: 200px;
  max-height: 60%;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
}
.etudiant-card-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.etudiant-card-text1 {
  color: var(--dl-color-gray-500);
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
}
.etudiant-card-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.etudiant-card-annee {
  color: var(--dl-color-gray-500);
  font-size: 1.25em;
  font-weight: 300;
}
.etudiant-card-promo {
  color: var(--dl-color-gray-500);
  font-size: 1.25em;
  font-weight: 300;
}

.etudiant-card-root-class-name9 {
  margin-bottom: 16px;
}

.etudiant-card-root-class-name11 {
  margin-bottom: 16px;
}
.etudiant-card-root-class-name12 {
  margin-bottom: 32px;
}
.etudiant-card-root-class-name13 {
  margin-bottom: 32px;
}
.etudiant-card-root-class-name14 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name15 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name16 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name17 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name18 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name20 {
  max-width: auto;
  align-self: stretch;
}
.etudiant-card-root-class-name21 {
  max-width: auto;
  align-self: stretch;
}
@media(max-width: 991px) {
  .etudiant-card-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .etudiant-card-blog-post-card {
    flex-direction: column;
  }
}

.page-recherche-utilisateur-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-recherche-utilisateur-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  justify-content: flex-end;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-recherche-utilisateur-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 30vw;
  box-shadow: 2px 2px 5px 0px rgba(21, 21, 21, 0.5);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.page-recherche-utilisateur-form {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  min-width: 80%;
  margin-top: var(--dl-space-space-unit);
  min-height: 60%;
  flex-direction: column;
}
.page-recherche-utilisateur-niveau-dtudes {
  background: transparent;
  padding-top: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0.7rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: E7F0F2;
}
.page-recherche-utilisateur-default {
  display: none;
}
.page-recherche-utilisateur-campus {
  background: transparent;
  padding-top: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0.7rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: E7F0F2;
}
.page-recherche-utilisateur-option05 {
  display: none;
}
.page-recherche-utilisateur-promo {
  background: transparent;
  padding-top: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0.7rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: E7F0F2;
}
.page-recherche-utilisateur-option09 {
  display: none;
}
.page-recherche-utilisateur-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  min-width: 80%;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-recherche-utilisateur-button {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
}
.page-recherche-utilisateur-liste-entreprises {
  width: 100%;
  display: flex;
  max-width: 70vw;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-recherche-utilisateur-etudiant-container {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-utilisateur-etudiant-container1 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-utilisateur-etudiant-container2 {
  display: flex;
  align-self: stretch;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .page-recherche-utilisateur-liste-entreprises {
    max-width: 70vw;
  }
}
@media(max-width: 767px) {
  .page-recherche-utilisateur-container2 {
    display: none;
  }
  .page-recherche-utilisateur-form {
    align-self: center;
  }
  .page-recherche-utilisateur-liste-entreprises {
    max-width: 100vw;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 412px) {
  .page-recherche-utilisateur-form {
    align-self: center;
  }
  .page-recherche-utilisateur-liste-entreprises {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.page-recherche-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tag-container {
  display: flex;
  position: relative;
  padding-right: var(--dl-space-space-halfunit);
}
.tag-text {
  padding: 4px;
  box-shadow: 2px 2px 3px 0px rgba(16, 16, 16, 0.35);
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}

.offre-stage-blog-post-card {
  width: 100%;
  min-width: 60%;
  margin-bottom: 3rem;
  display: flex;
  max-width: 95%;
  box-shadow: 0px 0px 20px 0px rgba(21, 21, 21, 0.56);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
}
.offre-stage-blog-post-card:hover {
  transform: scale(1.02);
}
.offre-stage-container {
  width:100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  margin-left: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.offre-stage-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.offre-stage-text {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
}
.offre-stage-text1 {
  color: var(--dl-color-gray-500);
  font-weight: 300;
}
.offre-stage-text2 {
  margin-bottom: var(--dl-space-space-twounits);
}
.offre-stage-text3 { 
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  margin-bottom: var(--dl-space-space-unit);
}
.offre-stage-container2 {
  flex: 0 0 auto;
  width: 100%;
  flex-wrap:wrap;
  gap: 0.4rem;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-bottom: var(--dl-space-space-unit);
}
.offre-stage-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.offre-stage-text4 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 500;
}
.offre-stage-button {
  cursor:pointer;
  display: flex;
  padding: 0px;
  border-width: 0px;
  flex-direction: row;
  background-color: transparent;
}
.offre-stage-image {
  width: 32px;
  object-fit: cover;
}

.offre-stage-root-class-name9 {
  margin-bottom: var(--dl-space-space-unit);
}


@media(max-width: 991px) {
  .offre-stage-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .offre-stage-blog-post-card {
    flex-direction: column;
  }
}
@media(max-width: 412px) {
  .offre-stage-container {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .offre-stage-text2 {
    width: 100%;
    font-style: normal;
    text-align: left;
    font-weight: 700;
  }
  .offre-stage-container3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .offre-stage-text4 {
    width: auto;
  }
}

.page-recherche-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  justify-content: flex-end;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-recherche-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 30vw;
  box-shadow: 2px 2px 5px 0px rgba(21, 21, 21, 0.5);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
.page-recherche-form {
  gap: var(--dl-space-space-unit);
  width: auto;
  height: auto;
  display: flex;
  min-width: 80%;
  margin-top: var(--dl-space-space-unit);
  min-height: 60%;
  flex-direction: column;
}
.page-recherche-select {
  background: transparent;
  padding-top: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: 0.7rem;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: E7F0F2;
}
.page-recherche-default {
  display: none;
}
.page-recherche-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  min-width: 80%;
  align-self: center;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-recherche-button {
  width: 100%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: var(--dl-color-gray-white);
}
.page-recherche-liste-entreprises {
  width: 100%;
  display: flex;
  max-width: 70vw;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-recherche-stage-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-navlink {
  display: contents;
}
.page-recherche-offre-stage {
  text-decoration: none;
}
.page-recherche-stage-container1 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-stage-container2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-stage-container3 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.page-recherche-stage-container4 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.number-indicator {
  color: var(--dl-color-gray-500);
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-start;
  margin-bottom: 1rem;
}
@media(max-width: 991px) {
  .page-recherche-liste-entreprises {
    max-width: 70vw;
  }
}
@media(max-width: 767px) {
  .page-recherche-container2 {
    display: none;
  }
  .page-recherche-form {
    align-self: center;
  }
  .page-recherche-liste-entreprises {
    max-width: 100vw;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 412px) {
  .page-recherche-form {
    align-self: center;
  }
  .page-recherche-liste-entreprises {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.entreprise-card-blog-post-card {
  width: 100%;
  margin: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 0px 0px 20px 0px rgba(21, 21, 21, 0.56);
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.entreprise-card-blog-post-card:hover {
  transform: scale(1.02);
}
.entreprise-card-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.entreprise-card-image {
  width: auto;
  max-width: 200px;
  height: 40%;
  max-height: auto;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 3px;
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
}
.entreprise-card-container1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.entreprise-card-text1 {
  color: var(--dl-color-gray-500);
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 991px) {
  .entreprise-card-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .entreprise-card-blog-post-card {
    flex-direction: column;
  }
}